.monthly-chart {
    width: 60%;
}

 .navbar-dark .navbar-nav li a {
    color: white;
}

.animatedCaptions {
    text-align:center;
}

.img-thumbnail{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    display:block;
}