{% extends 'base.html' %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">About</h2>
  </div>
  <div class="panel-body">
    <p> Adgnosco is Jean Liu's capstone project at Hackbright Academy. </p><br>
    <p> Disclaimer: Adgnosco would not be possible without OpenFace. I'd like to thank Brandon Amos and his team for being so generous with OpenFace. I am not making any money off Adgnosco. It is purely an academic project for personal use. Please check them out at http://cmusatyalab.github.io/openface</p><br>

    <p> Adgnosco is currently designed to be a passive security system when partnered with a Nest Camera (subscription required). It is currently a work-in-progress as I have the following features I'd like to add:</p>
    <ul>text message or email alert when an unrecognized person is identified in your home</ul>
    <ul>a user-friendly method to upload pictures of people they'd like the camera to identify</ul>
    <ul>a UI that is geared towards home usage</ul>
    <ul>see if I can incorporate one of those door code things into this</ul>
  </div>
</div>

{% endblock %}

