{% extends 'base.html' %}
{% block content %}

<div class="panel-body">
    <form action='/demo_FR'>
        <div class="form-group">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Check with Facial Recognition</button>
          </div>
        </div>
    </form>
</div><br>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">For this demo, we have these pictures that we "got" from the Nest API.</h2>
  </div>
  <div class="panel-body">
    {% for img, dttm in list_img_dttm %}
    <div class="col-sm-3 row">
      <img src= {{ url_for('static', filename = 'demoFaces/'+img) }} id={{img}} width="300" class="img-thumbnail" >
      <div class="animatedCaptions"><b>Event captured at:   </b>{{dttm}}</div>
      <p>    </p>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}



