

{% extends 'base.html' %}
{% block content %}
<body>
    <!-- This div is all about the monthly chart. Getting a specific month and displaying it -->
    <div id='byMonthChart'>
        <form>
            Select the month which you'd like to view the log (logs are viewable for the next 6 months):
            <select name="month" id='monthChartmonth'>
              <option value='none'></option>
              {% for month in available_months %}
              <option value={{ month }}> {{month}} </option>
              {% endfor %}
            </select>
            <input type='submit' id='submitformonthlychart'>
        </form>


        <div class='monthly-chart'>
            <canvas id='bubbleChartMonth'></canvas>
        </div>
    </div>

    <!-- This div is all about the building chart. Getting a specific month, building and door and displaying it -->
    <div id='byBuildingChart'>
        <form>
            Select the month, building and door id which you'd like to view the log (logs are viewable for the next 6 months). <br>
            Select month:
            <select name="month">
              <option value='none'></option>
              {% for month in available_months %}
              <option value={{ month }}> {{month}} </option>
              {% endfor %}
            </select>
            Select building:
            <select name="building">
              <option value='none'></option>
              {% for building in available_buildings %}
              <option value={{ building }}> {{building}} </option>
              {% endfor %}
            </select>
            <input type='submit' id='submitforbuildingchart'>
        </form>
        <div id='byBuildingChart'>
            <div class='monthly-chart'>
                <canvas id='bubbleChartBuilding'></canvas>
            </div>
        </div>
    </div>

    <!-- This the JS script that generates the charts-->
    <script>
        Chart.scaleService.updateScaleDefaults('linear', {
        ticks: {
            stepSize: 1
        }})
        
        var my_options = {
            reposive:true,
            maintainAspectRatio:true,
            scales: {
                xAxes: [{
                    ticks: {
                        max: 31,
                        min: 0,  } }],
                yAxes: [{
                    ticks: {
                        min: 0  } }]
            }   
        }

        var ctx_bubble_M = $("#bubbleChartMonth").get(0).getContext("2d");

        var monthToBepassed = $('#monthChartmonth option:selected').text();
            console.log(monthToBepassed);

        var buildMonthlyChart = function(evt) {
            var monthToBepassed = $('#monthChartmonth option:selected').text();
            console.log(monthToBepassed);
            evt.preventDefault(); 
            $.get("/monthly.json", {'month': monthToBepassed}, function (data) {
                var myBubbleChart = new Chart(ctx_bubble_M,{
                type: 'bubble',
                data: data,
                options: my_options        
                });
            });
        };


        var ctx_bubble_B = $("#bubbleChartBuilding").get(0).getContext("2d");

        $.get("/building.json", function (data) { 
        var myBubbleChart = new Chart(ctx_bubble_B,{
        type: 'bubble',
        data: data,
        options: my_options        
        });
        });

        // Event listners that will call the functions to build the charts        
        $('#submitformonthlychart').click(buildMonthlyChart);



    </script>


{% endblock %}