

{% extends 'base.html' %}
{% block content %}
<body>
    <!-- This div is all about the monthly chart. Getting a specific month and displaying it -->
    <div id='byMonthChart'>
        <form>
            Select the month which you'd like to view the log (logs are viewable for the next 6 months):
            <select name="month" id='monthChartmonth'>
              <option value='none'></option>
              {% for month in available_months %}
              <option value={{ month }}> {{month}} </option>
              {% endfor %}
            </select>
            <input type='submit' id='submitformonthlychart'>
        </form>
        <div class='monthly-chart'>
            <canvas id='bubbleChartMonth'></canvas>
        </div>
    </div>

    <!-- This div is all about the building chart. Getting a specific month, building and door and displaying it -->
    <div id='byBuildingChart'>
        <form>
            Select the month, building and door id which you'd like to view the log (logs are viewable for the next 6 months). <br>
            <!-- getting the month -->
            Select month:
            <select name="month" id='buildingChartmonth'>
              <option value='none'></option>
              {% for month in available_months %}
              <option value={{ month }}> {{month}} </option>
              {% endfor %}
            </select>
            <!-- getting the building -->
            Select building:
            <select name="building" id='buildingChartbuilding'>
              <option value='none'></option>
              {% for building in available_buildings %}
              <option value={{ building }}> {{building}} </option>
              {% endfor %}
            </select>
            <!-- getting the door AFTER it is populated by building -->
            Select door:
            <select name="door" id='buildingChartdoor'>
            <option value='none'></option>
            </select>
            <!-- submit button for the whole form -->
            <input type='submit' id='submitforbuildingchart'>
        </form>
        <div id='byBuildingChart'>
            <div class='monthly-chart'>
                <canvas id='bubbleChartBuilding'></canvas>
            </div>
        </div>
    </div>

    <!-- This the JS script that generates the charts-->
    <script>
        // This one deafults the ticks on the charts to 1. 
        Chart.scaleService.updateScaleDefaults('linear', 
        { ticks: { stepSize: 1 } });
        
        // This are the options for the charts
        var my_options = {
            reponsive:true,
            maintainAspectRatio:true,
            scales: {
                xAxes: [{
                    ticks: {
                        max: 31,
                        min: 0,  } }],
                yAxes: [{
                    ticks: {
                        min: 0  } }]
            }   
        };
        // This is the code needed to build the chart based on the user's 
        // selection of the month
        var ctx_bubble_M = $("#bubbleChartMonth").get(0).getContext("2d");

        var monthToBepassed = $('#monthChartmonth option:selected').text();
            // console.log(monthToBepassed);

        var buildMonthlyChart = function(evt) {
            var monthToBepassed = $('#monthChartmonth option:selected').text();
            evt.preventDefault(); 
            $.get("/monthly.json", {'month': monthToBepassed}, function (data) {
                var myBubbleChart = new Chart(ctx_bubble_M,{
                type: 'bubble',
                data: data,
                options: my_options        
                });
            });
        };

        // Code for the door id dropdown option
        function populateDoors(){
            var secondMonthToBepassed = $('#buildingChartmonth option:selected').text();
            var buildingToBepassed = $('#buildingChartbuilding option:selected').text();
            console.log(secondMonthToBepassed)
            console.log(buildingToBepassed)
            $.get("/door.json", {'month': secondMonthToBepassed, 'building' : buildingToBepassed}, 
                function (data_door) {
                    $('.tbr').remove()
                    for (var key in data_door) { 
                        var doors_list = data_door[key];
                        doors_list.forEach(function(t) { 
                            $('#buildingChartdoor').append('<option class="tbr">'+t+'</option>');
                        });
                    }
             });
        }

        // This is the code needed to build the chart based on the user's
        // selection of the month and building name
        var ctx_bubble_B = $("#bubbleChartBuilding").get(0).getContext("2d");

        var buildBuildingChart = function(evt) {
            $('.door_btn').remove();
            var secondMonthToBepassed = $('#buildingChartmonth option:selected').text();
            var buildingToBepassed = $('#buildingChartbuilding option:selected').text();
            var doorToBePassed = $('#buildingChartdoor option:selected').text();
            evt.preventDefault(); 
            $.get("/building.json", 
                {
                 'month': secondMonthToBepassed, 
                 'building' : buildingToBepassed, 
                 "door": doorToBePassed
                }, 
                function (data) {
                    var myBubbleChart = new Chart(ctx_bubble_B,{
                        type: 'bubble',
                        data: data,
                        options: my_options 
                    });
                }
            );
        };
        // this is the end of making chart by building by month
        

        // Event listners that will call the functions to build the charts        
        $('#submitformonthlychart').click(buildMonthlyChart);
        $('#submitforbuildingchart').click(buildBuildingChart);
        $('#buildingChartbuilding').change(populateDoors);

    </script>


{% endblock %}