{% extends 'base.html' %}
{% block content %}

{% for flash in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">{{ flash }}</div>
{% endfor %}

<form action="/login" method="POST" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Please log into your account:</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="User ID">User ID</label>  
  <div class="col-md-4">
  <input id="User ID" name="username" type="number" class="form-control input-md" required="">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="KeyCode">KeyCode</label>
  <div class="col-md-4">
    <input id="KeyCode" name="password" type="password" class="form-control input-md" required="">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="login"></label>
  <div class="col-md-4">
    <button type="submit" id="login" name="login" class="btn btn-primary">Login</button>
  </div>
</div>

</fieldset>
</form>


{% endblock %}

