{% extends 'base.html' %}
{% block content %}

<p>The following events could not be verified by the program. Please review them:</p>

<div>
    {% for img in list_img_files %}
    <img class='photosForReview' src= {{ url_for('static', filename = 'ManualCheck/'+img) }} id={{img}} width="200">
    <!-- <button   id = {img}  >-->
    {% endfor %}
</div>

<script>
    var removePhoto = function(evt){
        // change this later to send to server so that the script for moving files is called
        var photo_value = evt.currentTarget.id
        $.get('/move_animated', {'photo' : photo_value}, function(data){
            $(evt.currentTarget).remove();
        });
    };

    var toggleFR = function(evt){
        var fr_instruction = evt.currentTarget.id
        console.log(fr_instruction)
        $.get('/fr_call.json', {'fr_instruction' : fr_instruction}, function(data){
            $("#infoFR input").toggle();
        });    
    }

    var toggleAPI = function(evt){
        var api_instruction = evt.currentTarget.id
        console.log(api_instruction)
        $.get('/api_call.json', {'api_instruction' : api_instruction}, function(data){
            $("#infoAPI input").toggle();
        });    
    }

    $("#infoAPI input").click(toggleAPI);
    $("#infoFR input").click(toggleFR);
    $('.photosForReview').click(removePhoto);
</script>


{% endblock %}