{% extends 'base.html' %}
{% block content %}
{% if "user_id" in session  %}

{% for flash in get_flashed_messages() %}
  <div class="alert alert-success" role="alert">{{ flash }}</div>
{% endfor %}


<h3> Profile </h3>
<div>
    Name: {{ user.person_name }}<br>
    ID: {{ user.person_id }}<br>
    Managerial status: {{ user.manager }} 
</div>

<div>
    <form action='/opensesame'>
        <input type="submit" value="Use keyless entry">
    </form>
</div>
<br>
<br>
<br>
<div>
    {% if user.manager == True %}
     <form action='/entries'>
        <input type="submit" value="View entry logs">
    </form>
    <form action='/register'>
        Personnel ID: <input type="number" name="username"><br>
        Keycode: <input type="number" name="password"><br>
        Name (First Last): <input type="text" name="name"><br>
        Manager? <input type="checkbox" name="manager" value="True">
        <input type="submit" value="Register new account">
    </form>
    {% endif %}

{% endif %}
{% endblock %}