{% extends 'base.html' %}
{% block content %}

<p> displays the profile details of the person who logged in </p>

<p> create some sort of security so that they can't access willy nilly</p>
<h3> Profile </h3>
<div>
    Name: {{ user.person_name }}<br>
    ID: {{ user.person_id }}<br>
    Managerial status: {{ user.manager }} 
</div>

<div>
    <form action='/opensesame'>
        <input type="submit" value="Use keyless entry">
    </form>
    <form action='/entries'>
        <input type="submit" value="View entry logs">
    </form>
</div>
<br>
<br>
<br>
<div>
IF YOU ARE A MANAGER!!!
    <form action='/register'>
        Personnel ID: <input type="number" name="username"><br>
        Keycode: <input type="number" name="password"><br>
        Name (First Last): <input type="text" name="name"><br>
        Manager? <input type="checkbox" name="manager" value="True">
        <input type="submit" value="Register new account">
    </form>


{% endblock %}