{% extends 'base.html' %}
{% block content %}
{% if "user_id" in session  %}

{% for flash in get_flashed_messages() %}
  <div class="alert alert-success" role="alert">{{ flash }}</div>
{% endfor %}


<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">User Profile</h2>
  </div>
  <div class="panel-body">
    <b>Name:</b> {{ user.person_name }}<br>
    <b>ID:</b> {{ user.person_id }}<br><br>
    <form action='/opensesame' class="form-horizontal">
        <div class="form-group">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Use KeyCode</button>
          </div>
        </div>
    </form>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Manager's Access</h2>
</div>
  <div class="panel-body">
    {% if user.manager == True %}

<form action="/register" class="form-horizontal">
    <fieldset>
    <!-- Form Name -->
    <legend>Register a new User:</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-1 control-label" for="username">Personnel ID</label>  
      <div class="col-md-4">
      <input id="username" name="username" type="number" class="form-control input-md" required="">
      </div>
    </div>
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-1 control-label" for="KeyCode">KeyCode</label>
      <div class="col-md-4">
        <input id="KeyCode" name="password" type="password" class="form-control input-md" required="">
      </div>
    </div>
    <!-- Name input-->
    <div class="form-group">
      <label class="col-md-1 control-label" for="Name">Name (First Last):</label>
      <div class="col-md-4">
        <input id="name" name="name" type="text" class="form-control input-md" required="">
      </div>
    </div>
    <!-- Managerial Status -->
    <div class="form-group">
      <label class="col-md-1 control-label" for="manager">Manager?</label>
      <div class="col-md-1">
        <input id="manager" name="manager" type="checkbox"  required="">
      </div>
    </div>
    <!-- Button -->
    <div class="form-group">
     <div class="col-md-6">
      <button type="submit" id="register" name="register" class="btn btn-primary">Register</button>
     </div>
    </div>

    </fieldset>
</form>

<form action='/entries' class="form-horizontal">
    <div class="form-group">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Use View Entry Logs</button>
      </div>
    </div>
</form>
    {% endif %}
  </div>
</div>


{% endif %}
{% endblock %}

